{% extends 'parts/base.html'%}

{% block head %}
        <link rel="stylesheet" 
            type="text/css" 
            href="{{ static('css/inferred_interolog.css') }}">
        <script>
            // Load more API configuration
            var CURR_ELEMENT_ID = {{inferred_interolog.id}};
            var INCLUDE_TrEMBL = false;
        </script>
        <script src="{{static('js/add_elements.js')}}"></script>
        <script src="{{static('js/load_more_interolog.js')}}"></script>
        <script src="{{static('js/load_more.js')}}"></script>
{% endblock %}

{% block content %}
<div id="section-container">

	<div id="title_division">
		<div>
			<h1>Interolog <i class="fa fa-question-circle" title="{{ tooltips['interolog'] }}"></i></h1>
			<h3>
                <a href="{{ url('organism', kwargs={'organism_taxon_id': inferred_interolog.taxon_id.taxon_id}) }}">{{ inferred_interolog.taxon_id.name }}<i class="fa fa-link"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="title-link" href="{{ url('protein', kwargs={'protein_accession':  inferred_interolog.first.accession}) }}">{{ inferred_interolog.first.accession }} <i class="fa fa-link"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="title-link" href="{{ url('protein', kwargs={'protein_accession':  inferred_interolog.second.accession}) }}">{{ inferred_interolog.second.accession }} <i class="fa fa-link"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Interolog Quality: {{ "%.2f"|format(inferred_interolog.quality) }}
            </h3>
        </div>

	</div>

    <section id="interactions">
        <h2>Source Experimental Interactions <i class="fa fa-question-circle" title="{{ tooltips['source-interaction'] }}"></i>(<span class="count">{{'{:,}'.format(interaction_count)}}</span>)</h2>
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="interactions-container">
                    <div class="experimental-interaction">
                        <div class="interaction interaction-4columns">
                            <div class="interaction-name">Organism</div>
                            <div class="interaction-quality">Quality</div>
                            <div class="interaction-interactor">Interactor</div>
                            <div class="interaction-interactor">Interactor</div>
                        </div>
                    </div>
                    {% for source_experimental_interaction in source_experimental_interaction_list %}
                        {% with experimental_interaction=source_experimental_interaction.0, quality=source_experimental_interaction.1 %}
                            <a href="{{ url('interaction', kwargs={'first_accession': experimental_interaction.first.accession, 'second_accession': experimental_interaction.second.accession}) }}"
                                class="interaction interaction-4columns">
                                <div class="interaction-name">{{ experimental_interaction.taxon_id.name }}</div>
                                <div class="interaction-quality">{{ "%.2f"|format(quality) }}</div>
                                <div class="interaction-interactor">{{ experimental_interaction.first.accession }} - {{ experimental_interaction.first.description }}</div>
                                <div class="interaction-interactor">{{ experimental_interaction.second.accession }} - {{ experimental_interaction.second.description }}</div>
                            </a>
                        {% endwith %}
                    {% endfor %}
                </div>
                {% if load_more_interactions %}
                <button id="load-more-interactions">Load More</button>
                {% endif %}
            </div>
        </div>
    </section>
    {#
    <section id="interologs">
        <h2>Sibling Interologs</h2>
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="interolog-container">
                    <thead>
                        <tr>
                            <th><span>Organism</span></th>
                            <th><span>Interactor</span></th>
                            <th><span>Interactor</span></th>
                        </tr>
                    </thead>
                    {% for sibling_inferred_interolog in sibling_inferred_interolog_list %}
                        <tr>
                            <td><a href="{{ url('inferred_interolog', kwargs={'inferred_interolog_id': sibling_inferred_interolog.id}) }}">
                                {{ sibling_inferred_interolog.taxon_id.name }}
                            </a></td>
                            <td><a href="{{ url('inferred_interolog', kwargs={'inferred_interolog_id': sibling_inferred_interolog.id}) }}">
                                {{ sibling_inferred_interolog.first.accession }}
                            </a></td>
                            <td><a href="{{ url('inferred_interolog', kwargs={'inferred_interolog_id': sibling_inferred_interolog.id}) }}">
                                {{ sibling_inferred_interolog.second.accession }}
                            </a></td>
                        </tr>
                    {% endfor %}
                </div >
                {% if load_more_interologs %}
                <button id="load-more-interologs">Load More</button>
                {% endif %}
            </div>
        </div>
    </section>
    #}

    <section id="complexes">
        <h2>Predicted Complexes <i class="fa fa-question-circle" title="{{ tooltips['complex'] }}"></i>{% if complex_count > 1 %} (<span class="count">{{ '{:,}'.format(complex_count) }}</span>){% endif %}</h2>
        {% if complex_count > 0 %}
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="complexes-container">
                    <div class="complex">
                        <div class="complex-size">Size</div>
                        <div class="complex-proteins">UniProt Accessions</div>
                    </div>
                    {% for predicted_complex in predicted_complex_list %}
                        {% with predicted_complex_id=predicted_complex.0, 
                            uniprot_accession_list=predicted_complex.1,
                            complex_size = predicted_complex.2 %}
                            <a href="{{ url('complex', kwargs={'predicted_complex_id':predicted_complex_id}) }}"
                                class="complex">
                                <div class="complex-size">{{complex_size}}</div>
                                <div class="complex-proteins">
                                    {% for uniprot_accession in uniprot_accession_list %}
                                        {{ uniprot_accession.accession }}
                                    {% endfor %}
                                </div>
                            </a>
                        {% endwith %}
                    {% endfor %}
                </div>
                {% if load_more_complexes %}
                <button id="load-more-complexes">Load More</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        NO PROTEIN COMPLEX FOUND
        {% endif %}
    </section>

</div>

{% endblock %}
