{% extends 'parts/base.html'%}

{% block head %}
        <link rel="stylesheet" 
            type="text/css" 
            href="{{ static('css/organism.css') }}">
        <link rel="stylesheet" 
            type="text/css" 
            href="{{ static('css/spinner.css') }}">
        <script>
            // Load more API configuration
            var CURR_ELEMENT_ID = {{organism.id}};
            var INCLUDE_TrEMBL = {{include_trembl|tojson}};
        </script>
        <script src="{{static('js/add_elements.js')}}"></script>
        <script src="{{static('js/load_more_organism.js')}}"></script>
        <script src="{{static('js/load_more.js')}}"></script>
        <script src="{{ static('js/spinner.js') }}"></script>
        <script src="{{ static('js/autocomplete.js') }}"></script>
{% endblock %}

{% block content %}
<div id="section-container">

	<div id="title_division">
        <div>
            <h1><strong>Organism:</strong></h1>
            <h2>{{ organism.name }}</h2>
        </div>
        <div>
            <span id="trembl-toggle">Include TrEMBL</span>
            <label class="switch">
                <input id="trembl-checkbox" type="checkbox" {% if include_trembl %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <section id="section-proteins">
        <h2>Proteins (<span class="count">{{'{:,}'.format(protein_count)}}</span>)</h2>
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="protein_info-container">
                    <div class="protein_item">
                        <div class="protein_item protein_item-3columns">
                            <div class="protein_item-accession">Accession</div>
                            <div class="protein_item-entry_name">Name</div>
                            <div class="protein_item-description">Description</div>
                        </div>
                    </div>
                    {% for protein in protein_list %}
                        <a href="{{ url('protein', kwargs={'protein_accession': protein.accession}) }}"
                            class="protein_item protein_item-3columns">
                            <div class="protein_item-accession">{{ protein.accession }}</div>
                            <div class="protein_item-entry_name">{{ protein.entry_name }}</div>
                            <div class="protein_item-description">{{ protein.description }}</div>
                        </a>
                    {% endfor %}
                </div>
                {% if load_more_proteins %}
                    <button id="load-more-protein-items">Load More</button>
                {% endif %}
            </div>
        </div>
    </section>

    {% if experimental_interaction_list is defined %}
    <section id="experimental-interactions">
        <h2>
            Experimental Interactions <i class="fa fa-question-circle" title="{{ tooltips['interaction'] }}"></i> (<span class="count">{{ '{:,}'.format(interaction_count) }}</span>)
            {% if interaction_count > 1 %} 
            <a class="export-link" 
                href="{{ url('organism_download_interactions', kwargs={'organism_taxon_id':organism.taxon_id}) }}?include_trembl={% if include_trembl %}true{% else %}false{% endif %}">
                <i class="fa fa-download" aria-hidden="true"></i> CSV</a>
            {% endif %}
            <div id="spinnerWrapper">
                <div class="spinnerMessage">this is a test message</div>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <!--
            <form id="search-interaction">
                <div class="protein-inputs">
                    <input id="interaction-prot-1" class="protein-input" type="text" name="protein1" placeholder="Protein 1">
                    <input id="interaction-prot-2" class="protein-input" type="text" name="protien2" placeholder="Protein 2">
                    <button id="button-search-interaction"
                        type="submit">
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            -->
        </h2>
        {% if interaction_count > 0 %}
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="interactions-container">
                    <div class="interaction interaction-2columns">
                        <div class="interaction-interactor">Interactor</div>
                        <div class="interaction-interactor">Interactor</div>
                    </div>
                    {% for experimental_interaction in experimental_interaction_list %}
                        <a href="{{ url('interaction', kwargs={'first_accession':experimental_interaction.first.accession, 'second_accession': experimental_interaction.second.accession} ) }}"
                            class="interaction interaction-2columns">
                            <div class="interaction-interactor">{{ experimental_interaction.first.accession }} - {{ experimental_interaction.first.description }}</div>
                            <div class="interaction-interactor">{{ experimental_interaction.second.accession }} - {{ experimental_interaction.second.description }}</div>
                        </a>
                    {% endfor %}
                </div>
                {% if load_more_interactions %}
                <button id="load-more-interactions">Load More</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        NO INTERACTIONS FOUND
        {% endif %}
    </section>
    {%endif%}

    {% if inferred_interolog_list is defined %}
    <section id="interologs">
        <h2>
            Interologs <i class="fa fa-question-circle" title="{{ tooltips['interolog'] }}"></i>{% if interolog_count > 1 %} (<span class="count">{{'{:,}'.format(interolog_count)}}</span>) 
            <a class="export-link" 
                href="{{ url('organism_download_interologs', kwargs={'organism_taxon_id':organism.taxon_id}) }}?include_trembl={% if include_trembl %}true{% else %}false{% endif %}">
                <i class="fa fa-download" aria-hidden="true"></i> CSV</a>
            {% endif %}
            {#<div id="spinnerWrapperInterolog">
                <div class="spinnerMessage">this is a test message</div>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>

            <form id="search-interolog">
                <div class="protein-inputs">
                    <input id="interolog-prot-1" class="protein-input" type="text" name="protein1" placeholder="Protein 1">
                    <input id="interolog-prot-2" class="protein-input" type="text" name="protien2" placeholder="Protein 2">
                    <button id="button-search-interolog"
                        type="submit">
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </form>#}
        </h2>
        {% if interolog_count > 0 %}
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="interologs-container">
                    <div class="interolog interolog-3columns">
                        <div class="interolog-quality">Quality</div>
                        <div class="interolog-interactor">Interactor</div>
                        <div class="interolog-interactor">Interactor</div>
                    </div>
                    
                    {% for inferred_interolog in inferred_interolog_list %}
                        <a href="{{ url('interolog', kwargs={'first_accession': inferred_interolog.first.accession, 'second_accession': inferred_interolog.second.accession}) }}"
                           class="interolog interolog-3columns">
                            <div class="interolog-quality">{{ "%.2f"|format(inferred_interolog.quality) }}</div>
                            <div class="interolog-interactor">{{ inferred_interolog.first.accession }} - {{ inferred_interolog.first.description }}</div>
                            <div class="interolog-interactor">{{ inferred_interolog.second.accession }} - {{ inferred_interolog.second.description }}</div>
                        </a>
                    {% endfor %}
                </div>
                {% if load_more_interologs %}
                <button id="load-more-interologs">Load More</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        NO INTEROLOGS FOUND
        {% endif %}
    </section>
    {% endif %}

    {% if predicted_complexes is defined %}
    <section id="complexes">
        <h2>Predicted Complexes <i class="fa fa-question-circle" title="{{ tooltips['complex'] }}"></i> (<span class="count">{{ '{:,}'.format(complex_count) }}</span>)
{% if complex_count > 1 %} <a class="export-link" 
                href="{{ url('organism_download_complexes', kwargs={'organism_taxon_id':organism.taxon_id}) }}?include_trembl={% if include_trembl %}true{% else %}false{% endif %}">
                <i class="fa fa-download" aria-hidden="true"></i> CSV</a>
            {% endif %}
        </h2>
        {% if complex_count > 0 %}
        
        <div class="table_division">
            <div class="scrollbar_division">
                <div id="complexes-container">
                    <div class="complex">
                        <div class="complex-size">Size</div>
                        <div class="complex-proteins">UniProt Accessions</div>
                    </div>
                    
                    {% for predicted_complex in predicted_complexes %}
                        <a href="{{ url('complex', kwargs={'predicted_complex_id': predicted_complex.id}) }}"
                           class="complex">
                            <div class="complex-size">{{predicted_complex.size}}</div>
                            <div class="complex-proteins">
                                {% for protein in predicted_complex.proteins.all()[:10] %}
                                    {{ protein.accession }}
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {% if load_more_complexes %}
                <button id="load-more-complexes">Load More</button>
                {% endif %}
            </div>
        </div>

        {% else %}
        NO PROTEIN COMPLEX FOUND
        {% endif %}
    </section>
    {% endif %}

</div>
{% endblock %}

