:root{
    /* body */
    --body-background:Gainsboro;
    /* header */
    --header-background:DarkCyan;
    /* nav */
    --nav-background:DarkCyan;
    --nav-animation-container-background:DarkSlateGray;
    --navigation-icon-bars-color:white;
    --nav-buttons-background:DarkCyan;
    --nav-items-background:green;
    --nav-item-background:CadetBlue;
    --nav-item-hover-background:Teal;
    --selected-nav-item-background:DarkSlateGray;
    /* content */
    --content-background:var(--body-background);
    --input-background:rgba(255,255,255,0.75);
    --input-border-color:rgba(0,0,0,0.725);
        /* forms */
        --form-help-color:rgba(50,50,50,0.75);
    --table-odd-row-color:rgba(167,184,191,0.80);
    /* footer */
    --footer-background:white;
}

html{
    height:100%;
}

body{
    /*font-size:2.5em;*/
    height:100%;
    display:grid;
    background:var(--body-background);
    padding:0px;
    margin:0px;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    font-family:"nudista-web", "Open Sans", sans-serif; 
} 

#base-header{
    text-align:center;
    background-color:var(--header-background);
}

#base-nav{
    background-color:var(--nav-background);
}

#base-container{
    display:grid;
    grid-template-rows:auto 60px;
    max-height:100%;
    overflow-y:scroll;
}

#base-content{
    background-color:var(--content-background);
    max-width:calc(100% - 30px);
}

#base-footer{
    padding:15px;
    text-align:center;
    background-color:var(--footer-background);
}


/* ==================== NAV ==================== */

@media only screen and (max-width: 1023px) {
    #base-nav{
        right:0;
        position:absolute;
        top:0;
        left:0;
        width:50px;
    }
    #nav-animation-container {
        width: 50px;
        height: 50px;
        display:block;
        float:left;
        position:relative;
        background:var(--nav-animation-container-background);
    }

    #nav-control-open{
        opacity:0;
        position:absolute;
        width:50px;
        height:50px;
        left:0px;
        cursor:pointer;
        z-index:5;
    }
    #nav-toggle, #nav-toggle::before, #nav-toggle::after {
        display: block;
        position: absolute;
        background: var(--navigation-icon-bars-color);
        width: 40px;
        height: 4px;
        margin: 1.3em 3em;
        transition: background 0.3s;
    }
    #nav-toggle::before, #nav-toggle::after {
        content: '';
        position: absolute;
        margin: -0.7em 0 0;
        transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
    }
    #nav-toggle::after{
        margin-top:0.7em;
    }
    #nav-toggle{
        position:relative;
        display:block;
        margin:0;
        margin-top:1.45em;
        margin-right:0.35em;
        margin-left:0.35em;
        margin-bottom:1.45em;
        transition: width 0.3s ease;
    }
    #nav-control-open:checked{
        left:252px;
    }
    #nav-control-open:checked + #nav-buttons #nav-toggle{
        width:2em;
        transition: width 0.7s ease 0.7s;
    }
    #nav-control-open:checked + #nav-buttons #nav-toggle::before {
        width: 1.2em;
        transform: rotate(-35deg);
        margin-top: -0.4em;
    }

    #nav-control-open:checked + #nav-buttons #nav-toggle::after {
        width: 1.2em;
        transform: rotate(35deg);
        margin-top: 0.4em;
    }

    #nav-control-open:checked + #nav-buttons #nav-items {
        width: 250px;
        height: 400px;
        transition: width 0.7s ease 0.3s, height 0.3s ease;
    }

    #nav-buttons{
        display:flex;
        float:left;
        background:var(--nav-buttons-background);
    }
    #nav-items{
        background:var(--nav-items-background);
        display:block;
        overflow:scroll;
        width:0px;
        height:0px;
        transition: height 0.3s ease 0.7s, width 0.7s ease;
    }
}



.nav-item{
    height:100px;
    padding:15px;
    display:grid;
    background:var(--nav-item-background);
    /*grid-template-columns: 100%;
    grid-template-rows: auto auto;
    align-items:center;
    justify-content:center;*/
    border-top: 1px solid rgba(50, 184, 187, 0.49);
    border-bottom: 1px solid rgba(95, 95, 95, 1);
    text-align:center;
    text-decoration:none;
    color:black;
    box-shadow: inset -11px 0px 8px -10px black;
}



.selected-nav-item{
    background:var(--selected-nav-item-background);
    box-shadow: none;
    color:white;
}

.selected-nav-item img.nav-icon{ filter:none;}
img.nav-icon{
    max-width:5em;
    margin:0 auto 0 auto;
    filter:grayscale(100%);
}

/* ==================== BASE CONTENT ==================== */

#base-content{
    display:grid;
    padding:15px;
}

/* ==================== FORMS ==================== */

.form-help{
    color:var(--form-help-color);
}

input[type=text]{
    width:calc(100% - 30px);
    padding:0 1em;
    border-radius:7px;
    height:2.75em;
    background:var(--input-background);
    border:1px solid var(--input-border-color);
}
input[type=checkbox]{
    opacity:0;
    width: 0px;
    height: 0px;
}
form ul li label{
    cursor:pointer;
}
form ul li label svg{
    width:1em;
    height:1em;
    position:relative;
    left:0;
    top:.1em;
    border: 2px solid white;
}
form ul li label svg path{
    stroke: black;
    stroke-width: 13px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
label svg path {
    transition: stroke-dashoffset .2s linear;
}
input[type="checkbox"]:checked ~ label svg path {
    stroke-dashoffset: 0;
}
form > input[type=checkbox]{
    width:40px;
    height:40px;
    margin:auto;
}

form > ul {
    list-style:none;
    padding:0;
    margin:0;
}

@media only screen and (min-width: 1024px) {
    body{
        font-size:1em;
        grid-template-columns: 200px auto;
        grid-template-rows:150px auto auto 80px; 
        grid-template-areas:
            "header content"
            "nav content"
            "nav content"
            "nav content";
           
    }

    #base-header{
        grid-area: header;
        box-shadow: inset -11px 0px 10px -6px black;
    }

    #base-nav{
        grid-area: nav;
        margin:0;
        box-shadow: inset -11px 0px 10px -6px black;
    }

    #base-container{
        grid-area: content;
    }

    /* hide all the navigation stuff that won't be used*/
    #nav-control-open{
        display:none;
    }
    .arrow-left {
        display:none;
        position:relative;
        top:-52px;
        left:175px;
        width: 0px; 
        height: 0px; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 

        border-right:10px solid var(--body-background); 
    }
    .selected-nav-item .arrow-left{
        display:block;
    }
    .nav-item:hover{
        background:var(--nav-item-hover-background);
        color:white;
    }
}

