#section-container{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:230px auto auto;
    grid-template-areas:
        "org-head"
        "complexes"
        "proteins"; 
}

#title_division{
	h1{
		margin-bottom: 20px;
		margin-top: 20px;
	}
    grid-area:org-head;
}

#proteins{
    grid-area:proteins;
}

#complexes{
    grid-area:complexes;
}
