#section-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto 50px auto;
    grid-template-areas:
        "org-head org-head"
        ". ."
        "info graph";
}

#title_division{
    h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    grid-area:org-head;
}

#graph{
    grid-area:graph;
}
#complex-information{
    grid-area:info;
    height:55vw;
    overflow-y:scroll;
}


//override the padding for the base content
#base-content{
    padding-bottom:0px;
}
