{% extends "parts/base.html" %}

{% block head %}
        <link rel="stylesheet" 
            type="text/css" 
            href="{{ static('css/organism.css') }}">
        <script>
            // Load more API configuration
            var CURR_ELEMENT_ID = 0;
            var INCLUDE_TrEMBL = {{include_trembl|tojson}};
        </script>
        <script src="{{static('js/add_elements.js')}}"></script>
        <script src="{{static('js/load_more_complex.js')}}"></script>
        <script src="{{static('js/load_more.js')}}"></script>
{% endblock %}

{% block content %}
<div id="section-container">
	<div id="title_division">
        <h1>Predicted Complexes</h1>
        <div>
            <span id="trembl-toggle">Include TrEMBL</span>
            <label class="switch">
                <input id="trembl-checkbox" type="checkbox" {% if include_trembl %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <section id="complexes">
        <div class="table_division">
            {% if complexes.count() > 0 %}
            <div class="table_division">
                <div class="scrollbar_division">
                    <div id="complexes-container">
                        <div class="complex complex-3columns">
                            <div class="complex-size">Size</div>
                            <div class="complex-score">Quality</div>
                            <div class="complex-proteins">Protein Accessions</div>
                        </div>
                        {% for predicted_complex in complexes %}
                            <a href="{{ url('complex', kwargs={'predicted_complex_id': predicted_complex.id}) }}"
                                class="complex complex-3columns">
                                <div class="complex-size">{{predicted_complex.size}}</div>
                                <div class="complex-score">{{predicted_complex.quality}}</div>
                                <div class="complex-proteins">
                                    {% for uniprot_accession in predicted_complex.proteins.all()[:10] %}
                                        {{ uniprot_accession.accession }}
                                    {% endfor %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if load_more_complexes %}
                    <button id="load-more-complexes">Load More</button>
                    {% endif %}
                </div>
            </div>
            {% else %}
            NO PROTEIN COMPLEX FOUND
            {% endif %}
        </div>
    <section>
</div>
{% endblock %}
