{% extends "parts/base.html" %}

{% block head %}
        <script src="{{ static('js/spinner.js') }}"></script>
        <script src="{{ static('js/autocomplete.js') }}"></script>
        <link rel="stylesheet" 
            type="text/css" 
            href="{{ static('css/spinner.css') }}">
        <script>
            var INCLUDE_TrEMBL = {% if include_trembl %}true{% else %}false{% endif %};
        </script>

{% endblock %}

{% block content %}
    <section id="instance-profile">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Main organism</th>
                    <th colspan="2">Source</th>
                </tr>
            </thead>
            <tr>
                <td><span class="profile-title">Organism: </span></td>
                <td><a href="{{ url('organism', kwargs={'organism_taxon_id': organism.taxon_id}) }}">{{ organism.name }} <i class="fa fa-link"></i></a></td>
                <td><span class="profile-title">Source organisms: </span></td>
                <td><a href="{{ url('organisms') }}?include_trembl={{include_trembl|tojson}}">{{ '{:,}'.format(count_organisms) }} <i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
                <td><span class="profile-title">Proteins: </span></td>
                <td><a href="{{ url('all_proteins', kwargs={'organism_taxon_id':organism.taxon_id}) }}?include_trembl={{include_trembl|tojson}}">{{ '{:,}'.format(count_proteins) }} <i class="fa fa-link"></i></a></td>
                <td><span class="profile-title">Source Proteins: </span></td>
                <td><a href="{{ url('all_proteins', kwargs={'organism_taxon_id':0}) }}?include_trembl={{include_trembl|tojson}}">{{ '{:,}'.format(count_source_proteins) }} <i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
                <td><span class="profile-title">Interactions: </span></td>
                <td>{{ '{:,}'.format(count_interactions) }} </td>
                <td><span class="profile-title">Source Interactions: </span></td>
                <td>{{ '{:,}'.format(count_source_interactions) }} </td>
            </tr>
            <tr>
                <td><span class="profile-title">Interologs: </span></td>
                <td>{{ '{:,}'.format(count_interologs) }} </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><span class="profile-title">Complexes: </span></td>
                <td><a href="{{ url('complexes') }}?include_trembl={{include_trembl|tojson}}">{{ '{:,}'.format(count_complexes) }} <i class="fa fa-link"></i></a></td>
                <td colspan="2"></td>
            </tr>
        </table>
        <div>
            <span id="trembl-toggle">Include TrEMBL</span>
            <label class="switch">
                <input id="trembl-checkbox" type="checkbox" {% if include_trembl %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>
    </section>
    <section id="protein-search">
        <form action="." method="post">
            {{ csrf_input }}
            <div id="search-input">
                <div id="organism-search-wrapper">
                    <input id="protein-search-input" 
                        class="text_field protein-search" 
                        name="protein_display" 
                        type="text" 
                        placeholder="Protein Accession (Soltu.DM.01G007030.1)" >
                    <input id="protein-accession"
                        name="protein_accession" 
                        type="hidden">
                </div>
                {#<i id="search-button" class="fa fa-search fa-3x" aria-hidden="true"></i>#}
                <button id="search-button"
                    type="submit">
                        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                    </button>
                
            </div>
        </form>
    </section>
    <div id="pcrep-info-home">
        <h1>What is iC<span style="font-size:0.7em">REP</span>?</h1>
        <h2>ICRep is a repository of inferred proteins interactions and complex.</h2>
    </div>
{% endblock %}
